	<div id="header" class="container">
		<div id="logo">
			<h1><a href="/">reality <span>VENTUM</span></a></h1>
			<p>reality na úrovni</p>
		</div>
		<div id="menu">
			<ul>
				<li class=""><a href="/" accesskey="1" title=""><span>domů</span></a></li>
				<li class=""><a href="/reference" accesskey="2" title=""><span>reference</span></a></li>
				<li class=""><a href="/onas" accesskey="3" title=""><span>o nás</span></a></li>
				<li class=""><a href="/english" accesskey="4" title=""><span>english</span></a></li>
				<li><a href="http://www.facebook.com/pages/VENTUM-sro-reality-na-urovni/359389999855?ref=ts&v=wall" accesskey="5" title=""><span>facebook</span></a></li>
			</ul>
		</div>
	</div>
