		<div id="sidebar">
			<div id="box4" class="box-style2">
				<h2 class="title">Služby</h2>
				<div class="entry">
					<p>Nechceme 5% z ceny Vaší nemovitosti, u nás platíte jen to, co skutečně chcete. <br> Poskytujeme konzultační, poradenské a zprostředkovatelské služby, týkající se koupě a prodeje nemovitostí.</p>
				</div>
			</div>

			<div id="box5" class="box-style2">
				<h2 class="title">Nálepky</h2>
				<div class="entry">
					<ul class="style2">
						{% for t in site.tags %}
						<li><a href="/tag/{{ t | first | slugize }}">{{ t | first }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div id="box6" class="box-style2">
				<h2 class="title">Naše další weby</h2>
				<div class="entry">
					<ul class="style2">
						<li class="first"><a href="http://www.brno-art.cz">ventum art</a></li>
						<li>ventum pocitace</li>
					</ul>
				</div>
			</div>
		</div>
