		<div id="sidebar">
			<div id="box4" class="box-style2">
				<h2 class="title">Služby</h2>
				<div class="entry">
					<p>Nechceme 5% z ceny Vaší nemovitosti, u nás platíte jen to, co skutečně chcete. <br><br> Poskytujeme konzultační, poradenské a zprostředkovatelské služby, týkající se koupě a prodeje nemovitostí.</p>
				</div>
			</div>

			<div id="box5" class="box-style2">
				<h2 class="title">Nabídka</h2>
				<div class="entry">
					<ul class="style2">
						<p><li><a href="/cenik.html">Ceník služeb</a></li>
						<li><a href="/cenik.html">Nabídka nemovitostí</a></li>
						<li><a href="/hledame.html">Poptávka po nemovitostech</a></li></p>
					</ul>
				</div>
			</div>
		</div>
