<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>VENTUM, s.r.o.</title>
<meta name="author" content="Martin Sivak &lt;mars (at) montik (dot) net&gt;"/>
<meta name="keywords" content="{{ page.keywords }}"/>
<meta name="description" content=""/>
<link href="/css/default.css" rel="stylesheet" type="text/css" media="all" />
<style type="text/css">
@import "/css/layout.css";
</style>
<!--[if lte IE 7]>
<link href="/css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
<link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/feed.xml" />
</head>
<body>
