---
layout: page
---


    {% for post in site.tags[page.tag] %}
<div id="box1" class="box-style1">
	<!-- {{ post.date | date: "%b %-d, %Y" }} //-->
	<a href="{{ post.url | prepend: site.baseurl }}"><h2 class="title">{{ post.title }}</h2></a>
  <div class="entry">
    {% if page.nahled %}
    <div class="image-style2 image-style2a"><a href="{{ post.url | prepend: site.baseurl }}">{% thumbnail page.nahled 150x150< %}<span></span></a></div>
    {% endif %}
	  {{ post.excerpt }}
    <div class="meta">
	    <p><span class="readmore"><a href="{{ post.url | prepend: site.baseurl }}">podrobný popis</a></span></p>
    </div>
  </div>
</div>
<div class="divider">&nbsp;</div>

    {% endfor %}

